<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>切换变色组件</title>
		<style>
			.active{
				color: aqua;
			}
		</style>
	</head>
	<body>
		
		<div id="app">
			{{message}}
		
			<!-- 使用组件  -->
			<my-change-color-cpnc :cmovies="movies" :cactive="isActive"></my-change-color-cpnc>
		
		</div>
		
		<template id="changecolor">
			<div>
				{{cactive}}
				{{currentIndex}}
				<ul>
					<!-- <li v-for="(item,index) in cmovies">{{index}}---{{item}}</li> -->
					<li v-for="(item,index) in cmovies " :key="index" @click="clickColor(index)">{{index}}---{{item}}</li>
				</ul>
			</div>
		</template>
		
		<script src="../js/vue.js"></script>
		<script>
			
			Vue.component("my-change-color-cpnc",{
				template:"#changecolor",
				props:{
					cmovies:{
						type:Array,
						default(){
							return ["基拉","阿斯兰"]
						}
					},
					cactive:{
						type:Boolean
					}
				},
				data(){
					return {
						currentIndex:0
					}
				},
				methods:{
					clickColor(index){
						this.currentIndex=index
						// if(this.currentIndex = index){
						// 	this.cactive = true
						// 	this.currentIndex=index
						// }else{
						// 	this.cactive = false
						// }
						
					}
				}
				
			})
			
			const app = new Vue({
				el:"#app",
				data:{
					message: "这是一个vue模板",
					movies:["洛克昂","提耶利亚","萨那","阿里路亚"],
					isActive:true
			
				}
			})
			
			
		</script>
		
	</body>
</html>
